html{
    background-image: url(../images/winnie-mouse-background.jpg);
    background-size: cover;
}
h1{
    color: yellow;
}
.page-middle{
    display: flex;
    justify-content: center;
}
.calculator-body{
    width: 235px;
    height: 340px;
    border: 15px solid black;
    padding: 10px;
}
.calculator-body-upper{
    color: yellow;
    background-color: black;
    border: 1px solid green;
    height: 50px;
}
.calculator-body-lower{
    display: flex;
}
.calculator-section-right{
    border: 1px solid orange;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.calculator-section-right .dot{
    width: 102px;
    height: 50px;
    border: 1px solid green;
}
.button,.minus{
    width: 50px;
    height: 50px;
    border: 1px solid red;
}
.button:hover{
    background-color: yellow;
}
.calculator-section-left{
    border: 1px solid palevioletred;
    padding: 5px;
}
.add,.equals{
    width: 50px;
    height: 102px;
    border: 1px solid turquoise;
}
h1,.calculator-body-upper,.button{
    display: flex;
    align-items: center;
    justify-content: center;
}


